//- Все примеси в этом файле должны начинаться c имени блока (_separator)

mixin _separator(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_separator('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _separator--' + modsList[i].trim();
      }
    }

  ._separator(class=allMods)&attributes(attributes)
    block
