//- Все примеси в этом файле должны начинаться c имени блока (_flexRow)

mixin _flexRow(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_flexRow('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _flexRow--' + modsList[i].trim();
      }
    }

  ._flexRow(class=allMods)&attributes(attributes)
    ._flexRow__inner
      block
