//- Все примеси в этом файле должны начинаться c имени блока (dateDrop)

mixin dateDrop(options, mods)

  //- Принимает:
  //-       text:'date Dropdown', - название сверху
            //- value: '19.08.2019', - текущее значение 
            //- filter: {   - если установлен фильтр, меняется вид
            //-   startDate: '19.08.2019',
            //-   endDate: '23.08.2019'
            //- }

  -
    // список модификаторов
    let allMods = '',
        type= 'default',
        value = options.value,
        placeholder = 'ДД.ММ.ГГГГ';

    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' dateDrop--' + modsList[i].trim();
      }
    }

    if (typeof(options.value) == 'undefined') {
      options.value = '';
    }


    if (options.start !== undefined) {
      type = 'filtered';
      startDate = options.start;
      endDate = options.end;
      allMods = allMods + 'dateDrop--mid-size';
      
    }

  .dateDrop(class=allMods)&attributes(attributes)
    +textField({
        text: ` ${options.text}`,
        type: 'maskDate',
        value : `${options.value}`,
        })
    .dateDrop__downArrow

    block
