//- Все примеси в этом файле должны начинаться c имени блока (expCheckBoxList)

mixin expCheckBoxList(text, list, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   list    { 
            item : 'name',
            text: 'text'
            status: true / false
          } - набор с названиеями  списка
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +expCheckBoxList('Текст', 'some-mod')

  -
    // список модификаторов
    let allMods = '',
        listOfChecks = [];


    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' expCheckBoxList--' + modsList[i].trim();
      }
    }

    if (typeof(list) !== 'undefined' && list){
      listOfChecks = list;
      for (let i = 0; i < listOfChecks.length; i++) {
        if (typeof(listOfChecks[i].item) == 'undefined'){
          listOfChecks[i].item = 'item-' +i;
        }
      }
    }

  .expCheckBoxList(class=allMods)&attributes(attributes) 
    .expCheckBoxList__inner
      div #{text}
      .expCheckBoxList__downArrow
      .expCheckBoxList__upArrow
    .expCheckBoxList__overlay
      if (listOfChecks.length !== 0)
        each i in listOfChecks
          +checkBox(i.item, i.text, i.status)
    
    block
