// В этом файле должны быть стили для БЭМ-блока _expCheckBoxList, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.expCheckBoxList {
 
  $block-name:                &; // #{$block-name}__element
  @include text-field-default($midi);
  @include font1;
  height: 44px;
  overflow: hidden;

  @include arrow-button(-3px); 

  &--showDrop {
    overflow: visible;
    height: auto;
  }

  &__inner {
    @include text-field-default($midi);
    height: 44px;
    align-items: center;
    margin-bottom: 0;
  }

  &__overlay{
    padding-top: 2px;
    margin-left: -1px;
  }
}
