//- Все примеси в этом файле должны начинаться c имени блока (_pagination)

mixin _pagination(text,list, active,  mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   list    {number} - число страниц
  //-   active    {number} - номер активной страницы

  //-   mods    {string} - список модификаторов
  //- Вызов:
        +pagination('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _pagination--' + modsList[i].trim();
      }
    }
    let n = 0 , 
        m =5,
        itemList = [1,2,3,'...',15];
        

    


  .pagination(class=allMods)&attributes(attributes)
    .pagination__inner
      .pagination__prev
      each item, index in itemList
        if (index == 0) 
          .pagination__item.pagination__item--active
            p= item
        else
          .pagination__item
            p= item
      .pagination__next
    .pagination__infoItem 
      span #{text}
    block
