//- Все примеси в этом файле должны начинаться c имени блока (findRoom)

mixin findRoom(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +findRoom('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' findRoom--' + modsList[i].trim();
      }
    }

  .findRoom(class=allMods)&attributes(attributes)
    +title('Найдём номера под ваши пожелания','main')
    form.findRoom__form
      +dateCombo({ text:'Прибытие'},{ text: 'Выезд'})
      +textField({
            text: 'Гости',
            placeholder:'Сколько гостей',
            dropBoxBtn:'true',
            name: 'guestNumber',
            dropDown:[{
                name: 'взрослые',
                },{
                name: 'дети',
                },{
                name: 'младенцы',
              }]
            })('readonly')
      +btn('подобрать номер', 'coloredBig , mt12')(class = 'findRoom__btn')          
    .findRoom__inner
      block
