// В этом файле должны быть стили для БЭМ-блока searchResult, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.searchResult {

  $block-name:                &; // #{$block-name}__element

  min-height: 1356px;
  display: flex;
// ********************************************************
// ********************************************************
  &__options {
    width: 466px;
    padding: 30px 59px 0 140px ;
  }
// ********************************************************
// ********************************************************
  &__main {
    padding: 30px 120px 0 0;
  }

// ********************************************************
// ********************************************************
  &__title {
    margin-bottom: 20px;
  }
// ********************************************************
// ********************************************************
  &__result {
    display: flex;
    flex-wrap: wrap;
  }
// ********************************************************
// ********************************************************
  &__roomWrapper {
    margin-right: 10px;      
    margin-bottom: 17px;
  }
// ********************************************************
// ********************************************************
  &__pagination {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
// ********************************************************
// ********************************************************
}
