// В этом файле должны быть стили для БЭМ-блока _stars, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

._stars {

  $block-name:                &; // #{$block-name}__element
  position: relative;
  display: flex;
  input {
    opacity: 0;
  }

  &__label {
    // display: block;
    background: url('../img/star_border.svg') center no-repeat;
    height: 24px;

    &--checked {
      background: url('../img/star.svg') center no-repeat;
    }
  }

  

}
