// В этом файле должны быть стили для БЭМ-блока _stars, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

._stars {

  $block-name:                &; // #{$block-name}__element
  position: relative;
  display: inline-block;
  min-width: 120px;
  margin-right: 20px;

  input {
    opacity: 0;
    display: none;
  }

  &__label {
    display: inline-block;
    background: url('../img/star_border.svg') center no-repeat;
    height: 20px;
    width: 24px;
    cursor: pointer;


    &--checked {
      background: url('../img/star.svg') center no-repeat;
    }
  }

  

}
