//- Все примеси в этом файле должны начинаться c имени блока (_findRoom)

mixin _findRoom(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_findRoom('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _findRoom--' + modsList[i].trim();
      }
    }

  ._findRoom(class=allMods)&attributes(attributes)
    +_title('Найдём номера под ваши пожелания','main')
    +_dateCombo({ text:'Прибытие'},{ text: 'Выезд'})
    +_textField({
          text: 'Гости',
          placeholder:'Сколько гостей',
          state:'default',
          dropBoxBtn:'true',
          dropDown:[{
              name: 'взрослые',
              },{
              name: 'дети',
              },{
              name: 'младенцы',
            }]
          })('readonly')
    +btn('подобрать номер', 'coloredBig , mt12')          
    ._findRoom__inner
      block
