// // stylelint-disable plugin/selector-bem-pattern


@mixin _info{
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    @include font1;
    color: $dark-shade-100;

    &--state{
      right: 0;
      top: 0;
      text-align: right;
      font-weight: normal;
      color: $dark-shade-50;
    }
  
  }
}

@mixin input-default($topOffset: 0) {
  width: 100% ;
  height: 44px;
  padding: 13px 15px;
  margin-top: $topOffset;
  box-sizing: border-box;
}

@mixin input-standart {
  background: $white;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  color: $dark-shade-75;

  
}

@mixin text-field-default($width: 320px) {
  width: $width;
  height: 44px;
  position: relative;
  // min-height: 64px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 20px;
}



@mixin arrow-button($topOffset, $right:0, $selectedBorder: $dark-shade-50) {
  &__downArrow {
    height: 44px;
    width: 44px;
    position: absolute;
    top: $topOffset;
    right: $right;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      height: 7px;
      width: 7px;
      border-left: 2px solid $selectedBorder;
      border-bottom: 2px solid $selectedBorder;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%) rotate( -45deg);
    }
  }
  &__upArrow {
    height: 44px;
    width: 44px;
    position: absolute;
    top: $topOffset+6;
    right: $right;
    cursor: pointer;
    display: none;

    &:before {
      content: "";
      position: absolute;
      height: 7px;
      width: 7px;
      border-left: 2px solid $selectedBorder;
      border-bottom: 2px solid $selectedBorder;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%) rotate( -225deg);
    }
  }

}


@mixin arrowRight-button($right: 17px, $color: $white, $rotation: -225deg ) {
  
  position: relative;
  &:before{
    content: '';
    top: 50%;
    position: absolute;
    right: $right;
    width: 13px;
    height: 2px;
    transform: translateY(-50%);
    background: $color;
  }

  &:after{
    content: '';
    top: 50%;
    position: absolute;
    right: $right;
    width: 9px;
    height: 9px;
    border-left: 2px solid $color;
    border-top: 2px solid $color;
    transform: translateY(-50%) rotate($rotation);
    
  }
}

@mixin buttonSize($color: $white, $background:$second-grad, $width:99px ) {
  min-width: $width;
  height: 44px;
  background: $background;
  color: $color;
  border-radius: 22px;
 
}

@mixin defaultWindow($width : 380px) {
  width: $width;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 10px;
  margin-bottom: 40px;
  min-height: 200px;
}

