// // stylelint-disable plugin/selector-bem-pattern
$topOffset : 20px;
$normal : 320px;
$midi : 266px;
$small: 150px;

// @mixin field-text {
//   display: inline-block;
//   vertical-align: middle;
//   width: 100%;
//   min-height: calc(#{$line-height}em + #{$field-padding-vertical} + #{$field-padding-vertical} + 2px); // Привет, IE
//   margin: 0;
//   border: 1px solid $border-color;
//   border-radius: $border-radius;
//   padding: $field-padding-vertical  $field-padding-horizontal;
//   line-height: $line-height;
//   font-size: 1em;
//   font-family: inherit;
//   background-color: #fff;
//   -moz-appearance: textfield; // stylelint-disable-line
//   appearance: textfield;

//   &:focus {
//     @include field-focus;
//   }

//   &[disabled],
//   &[readonly] {
//     cursor: not-allowed;
//     background-color: $gray-lighter;
//   }

//   &::-webkit-search-cancel-button,
//   &::-webkit-search-decoration,
//   &::-webkit-inner-spin-button,
//   &::-webkit-outer-spin-button {
//     -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
//   }

//   &[type='color'] {
//     padding: 0;
//   }

//   &::placeholder {
//     color: $text-color-muted;
//     opacity: 1;
//   }
// }


// @mixin field-help-text {
//   display: block;
//   padding-top: 0.4em;
//   font-size: $font-size-sm;
//   line-height: 1.2em;
//   color: $text-color-muted;

//   &:empty { // stylelint-disable-line
//     display: none;
//   }
// }


// @mixin field-focus {
//   outline: 0;
//   box-shadow: 0 0 0 2px rgba($color-main, $opacity);
// }


// @mixin field-name {
//   display: block;
//   margin-bottom: 0.4em;
//   line-height: $line-height;
//   font-weight: 700;
// }
@mixin _info{
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    @include font1;

    &--state{
      right: 0;
      top: 0;
      text-align: right;
      font-weight: normal;
      color: $dark-shade-50;
    }
  
  }
}

@mixin input-default($topOffset: 0) {
  width: 100% ;
  height: 44px;
  padding: 13px 15px;
  margin-top: $topOffset;
  box-sizing: border-box;
}

@mixin input-standart {
  background: $white;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  color: $dark-shade-75;

  
}

@mixin text-field-default($width: 320px) {
  width: $width;
  height: 64px;
  position: relative;
  // min-height: 64px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 20px;
}



@mixin arrow-button($topOffset, $selectedBorder: $dark-shade-50) {
  &__downArrow {
    height: 44px;
    width: 44px;
    position: absolute;
    top: $topOffset;
    right: 0;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      height: 7px;
      width: 7px;
      border-left: 2px solid $selectedBorder;
      border-bottom: 2px solid $selectedBorder;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%) rotate( -45deg);
    }
  }

}

@mixin arrowRight-button($right: 17px, $color: $white) {
  
  position: relative;
  &:before{
    content: '';
    top: 50%;
    position: absolute;
    right: $right;
    width: 13px;
    height: 2px;
    transform: translateY(-50%);
    background: $color;
  }

  &:after{
    content: '';
    top: 50%;
    position: absolute;
    right: $right;
    width: 9px;
    height: 9px;
    border-left: 2px solid $color;
    border-top: 2px solid $color;
    transform: translateY(-50%) rotate(-225deg);
    
  }
}

@mixin buttonSize($color: $white, $background:$second-grad, $width:99px ) {
  width: $width;
  height: 44px;
  background: $background;
  color: $color;
  border-radius: 22px;
 
}