



@mixin hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin sizeH1{
  font-size: 24px;
  line-height: 30px;
}
@mixin sizeH2{
  font-size: 19px;
	line-height: 25px;
}
@mixin sizeH3{
  font-size: 12px;
  line-height: 15px;
}
@mixin fontMose($fz : 14px, $fw: normal, $lh: $fz,  $fs : normal,  ){
  font-family: 'Montserrat';
  font-style: $fs;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

@mixin font1($upper: true){
   @include fontMose(12px, 700, 15px);
   @if ($upper == true) {
    text-transform: uppercase;
   }  
   
   
};