//- Все примеси в этом файле должны начинаться c имени блока (_booking)

mixin _booking(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_booking('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _booking--' + modsList[i].trim();
      }
    }

  ._booking(class=allMods)&attributes(attributes)
    +_roomInfo('888','9 990₽', 'люкс')
    +_dateCombo({ text:'Прибытие', value: '19.08.2019'},{ text: 'Выезд', value: '23.08.2019'})
    +_textField({
          text: 'Гости',
          placeholder:'Сколько гостей',
          state:'default',
          dropBoxBtn:'true',
          dropDown:[{
              name: 'взрослые',
              value: '3'
              },{
              name: 'дети',
              },{
              name: 'младенцы',
            }]
          })('readonly')
    ._booking__cost         
      ._booking__item
        ._booking__itemDescr 9 990₽ х 4 суток
        ._booking__itemSumm 39 960₽

      ._booking__item
        ._booking__itemDescr Сбор за услуги: 
          label скидка 2 179₽
        ._booking__itemInfo i
        ._booking__itemSumm 0₽
      ._booking__item._booking__item--lh18
        ._booking__itemDescr Сбор за дополнительные услуги
        ._booking__itemInfo i
        ._booking__itemSumm 300₽
      ._booking__summ
        ._booking__summName Итого
        ._booking__summSeparator
        ._booking__summValue 38 081₽




      

      
    +btn('забронировать', 'coloredBig , mt12')          
    ._booking__inner
      block
