// В этом файле должны быть стили для БЭМ-блока _booking, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

._booking {

  $block-name:                &; // #{$block-name}__element
  min-height: 374px;

  @include defaultWindow;
// *********************************************************
  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    color: $dark-shade-75;
// *********************************************************

    @at-root &Descr {
      width: 214px;
    }
// *********************************************************

    @at-root &Info {
      width: 18px;
      height: 18px;
      border: 1px solid $dark-shade-25;
      border-radius: 100%;

      @include fontMose(12px, bold, 19px);
      color: $dark-shade-25;
      text-align: center;
    }
// *********************************************************

    @at-root &Summ {
      text-align: right;
      width: 80px;
    }

  }

// *********************************************************
// *********************************************************
  &__summ {
    overflow: hidden;
    display: flex;
    height: 24px;
    justify-content: space-between;
    align-items:baseline;
    position: relative;
    @include fontQuicksand(19px, bold, 24px);
    color: $dark-shade-100;
// *********************************************************    
    @at-root &Separator {
      border-bottom: 1px dotted $dark-shade-25;
      width: 182px;
      height: 1px;
    }
  }
// *********************************************************

}
