//- Все примеси в этом файле должны начинаться c имени блока (subTitle)

mixin subTitle(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +subTitle('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' subTitle--' + modsList[i].trim();
      }
    }

  .subTitle(class=allMods)&attributes(attributes) 
    h2 #{text}
    block
