// В этом файле должны быть стили для БЭМ-блока _calendar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

@import '../../scss/libs/pickmeup.scss';

//*********************************************************
//  redefine default for calendar plugin
//*********************************************************
     

//*********************************************************

._calendar {

  $block-name:                &; // #{$block-name}__element
  @include defaultWindow(320px);
  padding: 20px 20px 15px;
  
  
  &__startDay, &__endDay, &__oneDay {
    border-radius: 100%;
    background-image: $second-grad;
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    color: $white !important;
    font-weight: bold;

    &:before{
      background : $selected-background;
			// color      : $selected;
			width		: 50%;
			height: 100%;
			opacity: 0.25;
			content : '';
			position: absolute;
			top: 0;
			left: 50%;
    }
  }

  &__endDay{
    &:before{
			left: 0;
    }
  }
  &__oneDay {
    &:before{
      display: none;
    }
  }

  &__nextBtn, &__prevBtn {
    position: relative;
    width: 11px;
    height: 22px;
    @include arrowRight-button(5px, $purple, -225deg )

  }
  &__prevBtn {
    transform: rotate(-180deg);

  }

}
