//- Все примеси в этом файле должны начинаться c имени блока (calendar)

mixin calendar(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +calendar('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' calendar--' + modsList[i].trim();
      }
    }

  .calendar(class=allMods)&attributes(attributes)
    .calendar__inner
    +flexRow()
      +btn('Очистить', 'cancel, mt16pr2mb5')
      +btn('Применить','noMR , mt16pr2mb5')
    block
