// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name:                &; // #{$block-name}__element
  // кнопака по умолчанию, просто текст
  border:none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 20px 20px 8px 0;
  color: $purple;

  @include font1;
  &--noMR{
    margin-right: 0;
  }

  &--cancel {
    color: $dark-shade-50;
  }

  &--colored {
    @include buttonSize;

    &:hover {
      opacity: 0.5;
    }
    &Hovered {
      @include buttonSize;
        opacity: 0.5;
    }
    
    @at-root &Big{
      @include buttonSize;
      width: 320px;
      position: relative;
      @include arrowRight-button;

    }
  
  
  }

  

  &--bordered {
    @include buttonSize($purple, $white);
    border: double 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    color: $purple;
    width: 95px;
    height: 40px;

    &:hover {
      background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border: solid 2px rgba(254, 254, 254, 0.5);
      
      &::before {
        content: '';
        opacity: 0.5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: -2px;
        width: 95px;
        height: 40px;
        transform: translateY(5px);

      }
      &::after {
        content: '';
        opacity: 0.5;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: -2px;
        width: 95px;
        height: 40px;
        transform: rotate(180deg) translateY(-5px);

      }
    }

    &Hovered {
      @include buttonSize($purple, $white);
      border-radius: 20px;
      background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-origin: border-box;
      background-clip: content-box, border-box;
      position: relative;
      color: $purple;
      width: 95px;
      height: 40px;
      border: solid 2px rgba(254, 254, 254, 0.5);

      &::before {
        content: '';
        opacity: 0.5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: -2px;
        width: 95px;
        height: 40px;
        transform: translateY(5px);

      }

      &::after {
        content: '';
        opacity: 0.5;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: -2px;
        width: 95px;
        height: 40px;
        transform: rotate(180deg) translateY(-5px);

      }
    }
  }

  

}
