// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name:                &; // #{$block-name}__element
  
  border:none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 20px 0 8px;
  color: $purple;

  @include font1;

  &--cancel {
    color: $dark-shade-50;
  }

}
