//- Все примеси в этом файле должны начинаться c имени блока (login)

mixin login(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +login('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' login--' + modsList[i].trim();
      }
    }

  .login(class=allMods)&attributes(attributes)
    +title('Войти','main')
    +textField({
        name:'email',
          placeholder:'Email',
          },'noMargin, pt0')
    +textField({
          name:'pass',
          placeholder:'Password',
          },'pt10')
    +btn('войти', 'coloredBig')
    +flexRow
      div Нет аккаунта на Toxin?
      +btn('Создать', 'bordered ,mt12, noMR')          
    .login__inner
      block
