// В этом файле должны быть стили для БЭМ-блока review, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.review {

  $block-name:                &; // #{$block-name}__element
  width: 711px;
  color: $dark-shade-75;
  margin-top: 11px;
  margin-left: 57px;
// *********************************************************  
  &__main {
    display: flex;
    margin-bottom: 10px;
  }
// *********************************************************  
// *********************************************************
img {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 100%;
  border: 2px solid $white;
}
// *********************************************************
// *********************************************************  
  &__user {
    font-weight: bold;
  }
// *********************************************************  

// *********************************************************  
&__content {
  display: flex;
}
// *********************************************************  
// *********************************************************  
  &__like {
    padding-left: 5px;
    padding-top: 2px;
    width: 44px;
  }
// *********************************************************  
// *********************************************************  
  &__inner, &__text {
    margin-left: 10px;
  }
// *********************************************************


}
