//- Все примеси в этом файле должны начинаться c имени блока (searchPage)

mixin searchPage(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +searchPage('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' searchPage--' + modsList[i].trim();
      }
    }

  .searchPage(class=allMods)&attributes(attributes)
    +findRoom()
    .searchPage__container
      .searchPage__phrase Лучшие номера для вашей работы, отдыха и просто вдохновения
    block
