- var colorBoxSetup = [ {'_color': '', 'text' :'Dark Shade 100%'}, {'_color': 'darkShade75', 'text':'Dark Shade 75%'}, {'_color': 'darkShade50', 'text':'Dark Shade 50%'}, {'_color': 'darkShade25', 'text':'Dark Shade 25%'},{'_color': 'darkShade05', 'text':'Dark Shade 5%'}, {'_color': 'purple', 'text': 'Purple'}, {'_color': 'green', 'text':'Green'}]

- var demoTextSetup = [{'text' : 'This one is the sub-section or widget title', 'size': 'H1'},{'text' : 'Next one is the item title inside widgets', 'size': 'H2'},{'text' : 'This is a label or CTA text', 'size': 'H3'},{'text' : 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'size': 'body'}]

//- - var demoList = [{item: '1', text: 'Завтрак'}, {item: '2', text: 'Письменный стол', status : 'true'}, {item: '3',text: 'Стул для кормления', status : 'true'}]
- var demoList = [{text: 'Завтрак'}, {text: 'Письменный стол', status : 'true'}, {text: 'Стул для кормления', status : 'true'}, {text: 'Кроватка', status : 'true'}, {text: 'Телевизор'}, {text: 'Шампунь'}, {text: 'Телевизор'}, {text: 'Шампунь'}]

- var demoCheckButtons = [{text: 'Можно курить'}, {text: 'Можно с питомцами', status : 'true'}, {text: 'Можно пригласить гостей (до 10 человек)', status : 'true'}]

