- var colorBoxSetup = [ {'_color': '', 'text' :'Dark Shade 100%'}, {'_color': 'darkShade75', 'text':'Dark Shade 75%'}, {'_color': 'darkShade50', 'text':'Dark Shade 50%'}, {'_color': 'darkShade25', 'text':'Dark Shade 25%'},{'_color': 'darkShade05', 'text':'Dark Shade 5%'}, {'_color': 'purple', 'text': 'Purple'}, {'_color': 'green', 'text':'Green'}]

- var demoTextSetup = [{'text' : 'This one is the sub-section or widget title', 'size': 'H1'},{'text' : 'Next one is the item title inside widgets', 'size': 'H2'},{'text' : 'This is a label or CTA text', 'size': 'H3'},{'text' : 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'size': 'body'}]

