- var colorBoxSetup = [
	{'', 'Dark Shade 100%'},
    {'darkShade75', 'Dark Shade 75%'},
    {'darkShade50', 'Dark Shade 50%'},
    {'darkShade25', 'Dark Shade 25%'},
    {'darkShade05', 'Dark Shade 5%'},
    {'purple', 'Purple'},
    {'green', 'Green'}]