//- Все примеси в этом файле должны начинаться c имени блока (_room)

mixin _room(image, roomNumber, rating, stars, price, _type, arrows,  mods)

  //- Принимает:
  //-  image,   - путь к картинке
  //-  roomNumber, - номер комнаты
  //-  rating, - число отзывов
  //-  stars,  число о 1 до 5
  //-  price, {string}- цена с денежной еденицой
  //-  _type,  {string}- тип номера - ЛЮКС, или пусто (обычный)
  //-  arrows, - наличие стрелок - true / false
  //-  mods    {string} - список модификаторов
  //- Вызов:
        +_room('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _room--' + modsList[i].trim();
      }
    }

    let qty = 4, 
        j = 0;

  ._room(class=allMods)&attributes(attributes)
    ._room__slider
      if arrows
        ._room__leftArrow
        ._room__rightArrow
      ._room__dots  
        while j++ < qty
          ._room__dot 
      img._room__img(src=image) 
    ._room__inner
      +_roomInfo(roomNumber, price, _type,2)
      hr._room__hr
      ._room__rating
        +_stars(stars, roomNumber,'readonly')
        span._room__spanBold #{rating} 
        span Отзывов
    block
