// В этом файле должны быть стили для БЭМ-блока dateCombo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.dateCombo {

  $block-name:                &; // #{$block-name}__element
  width: $normal;

  // ******************************************************
  // ******************************************************
  &__text {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  // ******************************************************
  // ******************************************************
  &__calendar {
    position: absolute;
    top: 65px;
    z-index: 999;
  }
}
