//- Все примеси в этом файле должны начинаться c имени блока (dateCombo)

mixin dateCombo(combo, combo2, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +dateCombo('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' dateCombo--' + modsList[i].trim();
      }
    }

  .dateCombo(class=allMods)&attributes(attributes)
    .dateCombo__text
      +dateDrop(combo)(readonly, data-startDate)  
      +dateDrop(combo2)(readonly, data-startDate)  
    block
