//- Все примеси в этом файле должны начинаться c имени блока (_radioButton)

mixin _radioButton(_name, list, mods)

  //- Принимает:
        //- _name  - название группы
        //- list  : {
        //-     text: 'text'
        //-     status: true/ false (only for one of all)
        //- }
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +radioButton('Текст', 'some-mod')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _radioButton--' + modsList[i].trim();
      }
    }

    if (typeof(list) !== 'undefined' && list){
      _list = list;
    }

  .radioButton(class=allMods)&attributes(attributes)
    .radioButton__inner 
      if (_list.length !== 0)
        each i in _list
          label
            input(type='radio' checked=i.status name= _name)
            .radioButton__text 
              span.radioButton__span #{i.text}
    block
