extends ../pug/layout.pug

block meta
  title Color & type
  meta(name='description', content='')


//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +main-nav('10')
block content
      +section()
        .section__inner
          each i in colorBoxSetup 
            +colorBox(i._color,i.text)
        .section__inner
          each i in demoTextSetup
            +textDemo(i.text, i.size)
      +section
        div
          +_text_field({
            text: 'Text Field',
            name:'id1',
            placeholder:'Email',
            state:'default'
            })
          +_text_field({
            text: 'Text Field',
            name:'id2',
            placeholder:'Email',
            state:'Hover \/ Focus',
            value:'This is pretty awesome'
            })
          +_text_field({
            text: 'Dropdown',
            name:'id3',
            placeholder:'Сколько гостей',
            state:'default',
            type: 'dropDown',
          })

          +_text_field({
            text: 'masked text field',
            name:'id4',
            state:'Default',
            type:'maskDate'
            })


        div

        div
