extends ../pug/layout.pug

block meta
  title Color & type
  meta(name='description', content='')


//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +main-nav('10')
+section('colorAndTypes') 
  block content
    - each i in colorBoxSetup 
    +colorBox(i)
    
//-   h1 Заголовок
//-   p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
