extends ../pug/layout.pug

block meta
  title Color & type
  meta(name='description', content='')


//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +main-nav('10')
block content
  +section('img/logo.svg')
    .section__inner
      each i in colorBoxSetup 
        +colorBox(i.color,i.text)
    .section__inner.section__inner--flexEnd
      each i in demoTextSetup
        +textDemo(i.text, i.size)
  +section('img/logo.svg')
    .section__row 
      .section__col-4
        +textField({
          text: 'Text Field',
          name:'id1',
          placeholder:'Email',
          state:'default'
          })

        +textField({
          text: 'Text Field',
          name:'id2',
          placeholder:'Email',
          state:'Hover \/ Focus',
          value:'This is pretty awesome'
          })

        +textField({
          text: 'Dropdown',
          name: 'id5',
          placeholder:'Сколько гостей',
          state:'default',
          dropBoxBtn:'true',
          dropDown:[{
              name: 'взрослые',
              },{
              name: 'дети',
              },{
              name: 'младенцы',
            }]
          })('readonly')
        +separator('h3')
        +textField({
          text: 'masked text field',
          name: 'id5',
          state: 'Default',
          type: 'maskDate'
          })
        +separator('h20')
        +dateCombo({ text:'date Dropdown'},{ text: 'date Dropdown', value: '19.08.2019'})

        +separator('h8')

        +dateDrop({
          text: 'filter date dropdown',
          start: '19 авг',
          end: '23 авг'
        }
        )(readonly, data-startDate='19.08.2019', data-endDate='23.08.2020' ) 
        +separator('h22')

        +textField({
        name: 'id7',
        text: 'subscription text field',
        type: 'subscription'
        },'mid-size')
      .section__col-3.section__col-3--pl57

        +checkBoxGroup('Checkbox Buttons' , demoCheckButtons)

        +title('Radio Buttons')
        +radioButton( 'gender_demo', demoRadioButtons)
        +separator('h20')
        +title('Toggle')
        +toggle('Получать спецпредложения', true, 'offer', 'Toggle')
        +toggle('Получать спецпредложения', false, 'offer' )
        +separator()
        +title('like button')
        .section__flex
          +likeBtn('2')
          +likeBtn('12')
        +separator()

        +title('Rate button')
        +stars(4, 'star')
        +stars(5, 'star2')
        +separator()

      .section__col-3.section__col-3--ml45.section__col-3--pl57

        +rangeSlider('range slider', {state: "5000-1000"})
        +separator('h24')
        +title('buttons')
        +btn('CLICK ME', 'colored')
        +btn('CLICK ME', 'coloredHovered')
        +separator('nextStr')

        +btn('CLICK ME', 'bordered')
        +btn('CLICK ME', 'borderedHovered')
        +separator('nextStr')

        +btn('CLICK ME')
        +btn('CLICK ME', 'cancel')
        +separator('nextStr')

        +btn('перейти к оплате', 'coloredBig')
        +separator('h32')

        +title('pagination')
        +pagination('1 – 12 из 100+ вариантов аренды', 15)
    +separator('h76')
    .section__row
      .section__col-4

        +textField({     
              text: 'Dropdown',
              name: 'id6',
              state: 'default',
              dropDown:[{
                  name: 'спальни',
                  value: '2'
                  },{
                  name: 'кровати',
                  value: '2'
                  },{
                  name: 'ванные комнаты',
                }]
              },'mid-size')('readonly')


        +textField({
          text: 'Dropdown',
          name: 'id8',
          state: 'expanded',
          dropDown:[{
              name: 'спальни',
              value: '2'
              },{
              name: 'кровати',
              value: '2'
              },{
              name: 'ванные комнаты',
          }]
        },'showDrop , mid-size')('readonly')

        +separator('h20')
        +expCheckBoxList('expandable checkbox list',demoList)(data-expanded='false')
        +expCheckBoxList('expandable checkbox list',demoList, 'showDrop')(data-expanded='true')

        

      .section__col-3.section__col-3--pl57
        +textField({
          text: 'Dropdown',
          name: 'id5',
          placeholder:'Сколько гостей',
          state:'default',
          dropBoxBtn:'true',
          state: 'expanded',
          dropDown:[{
              name: 'взрослые',
              },{
              name: 'дети',
              },{
              name: 'младенцы',
            }]
          },
          'showDrop' )('readonly')

        +separator('h75')

        +title('rich Checkbox Buttons')
        +checkBox('coridor', 'Ширина коридоров в номере не менее 91 см.', false, 'Широкий коридор')
        +checkBox('helper', 'На 1 этаже вас встретит специалист  и проводит до номера.', false, 'Помощник для инвалидов')

      .section__col-3.section__col-3--ml45.section__col-3--pl57
        +textField({
          text: 'Dropdown',
          name: 'id5',
          placeholder:'Сколько гостей',
          state:'default',
          dropBoxBtn:'true',
          state: 'expanded',
          dropDown:[{
              name: 'взрослые',
              value: '2'
              },{
              name: 'дети',
              value: '1'
              },{
              name: 'младенцы',
            }]
          },
          'showDrop' )('readonly')
        +separator('h75')
        
        +bulletList('Нельзя с питомцами ; Без вечеринок и мероприятий ; Время прибытия — после 13:00 , а выезд до 12:00')
    +separator('h8')
    .section__row
      .section__col-4
        +infoBlock( 'img/insert_emoticon.svg','Комфорт','Шумопоглощающие стены')
        +infoBlock( 'img/location_city.svg','Удобство','Окно в каждой из спален')
      .section__col-8
        +review('Мурад Сарафанов','5 дней назад', 12, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 'img/users/user1.png')
  +section('img/logo.svg','bg2')
    +separator('h8')
    .section__row
      .section__col-4    
        +findRoom()
        +registration()
      +separator('v30')
      .section__col-4    
        +booking()
        +login()
      +separator('v30')
      .section__col-3    
        +calendar()
        +room('img/rooms/888.jpg', 888, 145, 5, '9 990₽', 'люкс', true)
        +room('img/rooms/840.jpg', 840, 65, 4, '9 900₽')
  +section('img/logo.svg','bg2')
    +header('',{login :'login', register :'register'},'','top150')
    +header('',{login :'login', register :'register'}, 'Cosmin Negoita', 'top260')
    +footer('Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',[
        {
          title: 'Navigation',
          list:[
                {
                  text: 'About Us',
                  href : '#'
                },
                {
                  text: 'News',
                  href : '#'
                },
                {
                  text: 'Support',
                  href : '#'
                },
                {
                  text: 'Products',
                  href : '#'
                }]
        },
        {
          title: 'ABOUT US',
          list:[
                {
                  text: 'Who we are',
                  href : '#'
                },
                {
                  text: 'Our team',
                  href : '#'
                },
                {
                  text: 'Careers',
                  href : '#'
                },
                {
                  text: 'Investors',
                  href : '#'
                }]
        },
        {
          title: 'Support',
          list:[
              {
                text: 'Documentation',
                href : '#'
              },
              {
                text: 'Community',
                href : '#'
              },
              {
                text: 'Get in Touch',
                href : '#'
              }]
        }
        ],
    
    {
      header: 'Subscribe to our newsletter',
      text: 'Receive our latest news and promotions in your inbox!',
      placeholder : 'Your email address'
    }
    ,
     'top370')


