extends ../pug/layout.pug

block meta
  title Color & type
  meta(name='description', content='')


//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +main-nav('10')
block content
      +section()
        .section__inner
          each i in colorBoxSetup 
            +colorBox(i._color,i.text)
        .section__inner
          each i in demoTextSetup
            +textDemo(i.text, i.size)
      +section()
        div
          +_textField({
            text: 'Text Field',
            name:'id1',
            placeholder:'Email',
            state:'default'
            })

          +_textField({
            text: 'Text Field',
            name:'id2',
            placeholder:'Email',
            state:'Hover \/ Focus',
            value:'This is pretty awesome'
            })

          +_textField({
            text: 'Dropdown',
            name: 'id5',
            placeholder:'Сколько гостей',
            state:'default',
            dropBoxBtn:'true',
            dropDown:[{
                name: 'взрослые',
                },{
                name: 'дети',
                },{
                name: 'младенцы',
              }]
            })('readonly')

          +_textField({
            text: 'masked text field',
            name: 'id5',
            state: 'Default',
            type: 'maskDate'
            })

          +_textField({
            text: 'Dropdown',
            name: 'id6',
            state: 'default',
            dropDown:[{
                name: 'спальни',
                item: '2'
                },{
                name: 'кровати',
                item: '2'
                },{
                name: 'ванные комнаты',
              }]
            })('readonly')  

          .section__flex
            +_dateDrop({
              text: 'date Dropdown'
              })(readonly, data-startDate)  

            +_dateDrop({
              text: 'date Dropdown',
              value: '10.04.2020'
            }
            )(readonly, data-endDate='10.04.2020')  

          +_dateDrop({
            text: 'date Dropdown',
            value: '10.04.2020',
            start: '19 авг',
            end: '23 авг'
          }
          )(readonly, data-startDate='19.08.2019', data-endDate='10.04.2020' ) 

          +_expCheckBoxList('expandable checkbox list',demoList)(data-expanded='false')

        div
          +_checkBoxGroup('Checkbox Buttons' , demoCheckButtons)

          +_radioButton('Radios Buttons', 'gender', demoRadioButtons)

          +_title('Toggle')
          +_toggle('Получать спецпредложения', true, 'offer', 'Toggle')
          +_toggle('Получать спецпредложения', false, 'offer' )

          +_title('like buttons')
          .section__flex
            +_likeBtn('2')
            +_likeBtn('12')
          +_separator()

          +_title('Rate buttons')
          +_stars(4, 'star')
          +_stars(5, 'star2')
          +_separator()

        div
          +_rangeSlider('range slider', {state: "5000-1000"})
          +_separator()
          +btn()


