extends ../pug/layout.pug

block meta
  title Color & type
  meta(name='description', content='')


//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +main-nav('10')
block content
      .section
        .section__logo
          img(src="img/logo.svg")
        .section__inner
          each i in colorBoxSetup 
            +colorBox(i._color,i.text)
        .section__inner
          each i in demoTextSetup
            +textDemo(i.text, i.size)
          
//-   h1 Заголовок
//-   p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
