// В этом файле должны быть стили для БЭМ-блока _roomInfo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

._roomInfo {

  $block-name:                &; // #{$block-name}__element
  @include fontQuicksand(14px,bold, 18px);
  color: $dark-shade-100;
  margin-bottom: 20px;

  &__value {
    @include fontQuicksand(24px,bold, 30px);
    &--size2{
      @include fontQuicksand(19px,bold, 24px);
    }
  }

// *************************************************
  &__luxe {
    @include font1;
    color: $purple;
    padding-left: 5px;
  }
// *************************************************
// *************************************************
  &__priceValue {
    @include fontMose(14px, bold, 18px);
  }
// *************************************************
// *************************************************
 &__price {
  @include fontMose(12px,normal, 18px);
  color: $dark-shade-50;
 }
// *************************************************
}
