// В этом файле должны быть стили для БЭМ-блока _dateDrop, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

._dateDrop {
  $showDrop: false;

  $block-name:                &; // #{$block-name}__element
  @include text-field-default($small);
  @include _info;

  @include arrow-button($topOffset); 

  &--showDrop {
    overflow: visible;
    $showDrop: true;
  }

  &--mid-size{
    width: $midi !important;
  }

  &__input {
    @include input-default($topOffset);
    @include fontMose(14px, 300, 24px);
    @include input-standart;
  }
}
