// В этом файле должны быть стили для БЭМ-блока _toxin, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

._toxin {
  $size1 : 36px;
  $block-name:                &; // #{$block-name}__element
  display: flex;
  align-items: center;
// **********************************************************
  &__logo{
    position: relative;
    cursor: pointer;
    width: $size1;
    height: $size1;
    border-radius: 100%;
    border: double 2px transparent;
    background-image: linear-gradient(white, white), $second-grad;
    background-origin: border-box;
    background-clip: content-box, border-box;

    &:after{
      content: '';
      background: url('../img/logo_color.svg') center no-repeat;
      position: absolute;
      top: 0;
      left: -1px;
      width: 38px;
      height: 38px;

    }
  }
// **********************************************************
// **********************************************************
  &__text{
    width: 53px;
    height: 13px;
    padding-left: 25px;
    background: url('../img/toxin.svg') center no-repeat;
  }
// **********************************************************

}
