//- Все примеси в этом файле должны начинаться c имени блока (_toxin)

mixin _toxin(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_toxin('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _toxin--' + modsList[i].trim();
      }
    }

  ._toxin(class=allMods)&attributes(attributes)
    ._toxin__logo
    ._toxin__text
  block
