//- Все примеси в этом файле должны начинаться c имени блока (checkBoxGroup)

mixin checkBoxGroup(text, list,  mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +checkBoxGroup('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' checkBoxGroup--' + modsList[i].trim();
      }
    }


    if (typeof(list) !== 'undefined' && list){
      listOfChecks = list;
      for (let i = 0; i < listOfChecks.length; i++) {
        if (typeof(listOfChecks[i].item) == 'undefined'){
          listOfChecks[i].item = 'item-' +i;
        }
      }
    }    

  .checkBoxGroup(class=allMods)&attributes(attributes)
    +title(text)
    if (listOfChecks.length !== 0)
    each i in listOfChecks
      +checkBox(i.item, i.text, i.status)
    block
