//- Все примеси в этом файле должны начинаться c имени блока (_review)

mixin _review(name, date, likes, text, link, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_review('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _review--' + modsList[i].trim();
      }
    }

  ._review(class=allMods)&attributes(attributes)
    ._review__main
      img._review__img(src = link , alt = text)
      ._review__inner
        ._review__user #{name}
        ._review__date #{date}
    ._review__content
      ._review__like
        +_likeBtn(likes)
      ._review__text #{text}

      block
