//- Все примеси в этом файле должны начинаться c имени блока (_expCheckBoxList)

mixin _expCheckBoxList(text, list, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   list    { 
            item : 'name',
            text: 'text'
            status: true / false
          } - набор с названиеями  списка
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_expCheckBoxList('Текст', 'some-mod')

  -
    // список модификаторов
    let allMods = '',
        _list = [];


    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _expCheckBoxList--' + modsList[i].trim();
      }
    }

    if (typeof(list) !== 'undefined' && list){
      _list = list;
      for (let i = 0; i < _list.length; i++) {
        if (typeof(_list[i].item) == 'undefined'){
          _list[i].item = 'item-' +i;
        }
      }
    }

  ._expCheckBoxList(class=allMods)&attributes(attributes) 
    ._expCheckBoxList__inner
      div #{text}
      ._expCheckBoxList__downArrow
      ._expCheckBoxList__upArrow
    ._expCheckBoxList__overlay
      if (_list.length !== 0)
        each i in _list
          +_checkBox(i.item, i.text, i.status)
    
    block
