//- Все примеси в этом файле должны начинаться c имени блока (_registration)

mixin _registration(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +registration('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _registration--' + modsList[i].trim();
      }
    }

  .registration(class=allMods)&attributes(attributes)
    +title('Регистрация аккаунта','main')
    +textField({
          name:'name',
          placeholder:'Имя',
          },'noMargin, pt0')
    +textField({
          name:'surname',
          placeholder:'Фамилия',
          },'pt10, noMargin')
    +radioButton('gender', demoRadioButtons, 'pt10')
    +textField({
    text: 'Дата рождения',
    name: 'birthdate',
    type: 'maskDate'
    })
    +textField({
        text: 'данные для входа в сервис',
        name:'email',
          placeholder:'Email',
          },'noMargin')
    +textField({
          name:'pass',
          placeholder:'Password',
          },'noMargin, pt10')

    +toggle('Получать спецпредложения', false, 'offer' , '', 'pt10' )
    +btn('перейти к оплате', 'coloredBig, mt12')
    +flexRow
      div Уже есть аккаунт на Toxin
      +btn('Войти', 'bordered ,mt12, noMR')
      block
