//- Все примеси в этом файле должны начинаться c имени блока (_pagination)

mixin _pagination(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +_pagination('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _pagination--' + modsList[i].trim();
      }
    }

  ._pagination(class=allMods)&attributes(attributes)
    ._pagination__inner
      block
