//- Все примеси в этом файле должны начинаться c имени блока (_costCalc)

mixin _costCalc(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +costCalc('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' _costCalc--' + modsList[i].trim();
      }
    }

  .costCalc(class=allMods)&attributes(attributes)
    .costCalc__inner
      block
