// В этом файле должны быть стили для БЭМ-блока fullRoomInfo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fullRoomInfo {

  $block-name:                &; // #{$block-name}__element
  min-height: 485px;
// ********************************************************
// ********************************************************
  &__images {
    height: 485px;
    display: flex;
  }
// ********************************************************
// ********************************************************
  &__image {
    display: block;
  }
// ********************************************************
// ********************************************************
  &__rightPart, &__leftPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // transform: matrix(-1, 0, 0, 1, 0, 0);
  }
// ********************************************************
// ********************************************************
  &__content {
    padding: 70px 140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
// ********************************************************
// ********************************************************
  &__subsection {
    display: flex;
    flex-direction: column;
  }
// ********************************************************
// ********************************************************
  &__additionalInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
// ********************************************************
// ********************************************************
  &__roomInfo {
    margin-bottom: 28px;
  }
// ********************************************************
// ********************************************************
  &__impressions {
  }
// ********************************************************
// ********************************************************
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
// ********************************************************
// ********************************************************
  &__order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
// ********************************************************
// ********************************************************
  &__cancel {
    width: 340px;
  }
// ********************************************************
// ********************************************************
  &__reviewsItem {
    margin-bottom: 20px;
  }
// ********************************************************
// ********************************************************
}
