// В этом файле должны быть стили для БЭМ-блока fullRoomInfo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fullRoomInfo {

  $block-name:                &; // #{$block-name}__element
  min-height: 485px;
// ********************************************************
// ********************************************************
  &__images {
    height: 485px;
    display: flex;
  }
// ********************************************************
// ********************************************************
  &__image {
    display: block;
  }
// ********************************************************
// ********************************************************
  &__rightPart, &__leftPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // transform: matrix(-1, 0, 0, 1, 0, 0);
  }
// ********************************************************
// ********************************************************
}
