// В этом файле должны быть стили для БЭМ-блока _textField, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

._textField {

  $block-name:                &; // #{$block-name}__element
  $showDrop: false;
  $selectedBorder: $dark-shade-50;
  color: $dark-shade-75;
  position: relative;
  @include text-field-default;

  &:hover, &:focus{
    #{$block-name}__input{
      border-color: $selectedBorder;
    }
  }
  &--showDrop {
    overflow: visible;
    $showDrop: true;
  }

  &--autoHeght {
    height: auto;
    min-height: 44px;
  }

  &--mid-size{
    width: $midi !important;
  }

//******************************************************************
//******************************************************************
@include _info;
//******************************************************************
//******************************************************************
  //  начало описания
 @include arrow-button($topOffset); 
 //******************************************************************
//******************************************************************
  &__rigthArrow{
    width: 44px;
    height: 44px;
    position: absolute;
    top: $topOffset+2; 
    right: 0;
    cursor: pointer;

    &:before{
      content:'';
      position: absolute;
      width: 18px;
      height: 18px;
      background: url('../img/arrow_forward.svg') center no-repeat;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      
    }
  }

//******************************************************************
//******************************************************************
&__input {
    @include input-default($topOffset);
    @include fontMose(14px, 300, 24px);
    @include input-standart;    

    &:placeholder{ 
      color: $dark-shade-25; 
    }
    &--dark{
      &:placeholder{
        color: $dark-shade-75
      }
    }

    &--cutBorderBottom {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-color: $selectedBorder
    }

  }
//******************************************************************
//******************************************************************
&__overlay{
    z-index: 50;
    width: inherit;
    @include input-standart;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    padding: 4px;
    padding-left: 13px;
    border-color: $selectedBorder;
//******************************************************************
    @at-root &Items {

      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 3px;
      }

      &--left{
        justify-content: flex-end;
      }

      span {
        @include font1;
      }
    }
//******************************************************************
    @at-root &Item {
      width: 92px;
      padding-top: 1px;
      padding-right: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }
//******************************************************************
//******************************************************************
  &__Btn {
    $btnSize : 28px;
    width: $btnSize;
    height: $btnSize;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include input-standart;
    border-radius: 100%;
    @include fontMose(18px, 300, 22px);
    cursor: pointer;
    

    &--disabled{
      opacity: 0.38;
      cursor: default;
    }
    
  }
//******************************************************************
//******************************************************************
&__value{
    @include font1;
  }
//******************************************************************

  
}
